/* Your styles here */

/*elementi generici*/

html {
    font-size: 1em;
}

body {
    background-color: #e9edee;
    font-family: Arial, Helvetica, sans-serif;
}
main a {
color: #21717A;
font-weight: bold;
padding: 15px;
text-decoration: none;
}

main p {
    display: inline-block;
 }
/*header*/

header {
    background-color: #222f3f;
    height: 60px;
}

header img {
    width: 120px;
    height: 40px;
    margin: 0.5rem 1rem;
}

/* nav*/

nav {
    background-color: #364759;
    height: 20px;
    padding: 0.3rem;
}

nav ul {
    list-style: none;
}

nav ul a {
    color: white;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin: 0.5rem;
}

/*article*/
article div img {
    width: 100%;
    border-radius: 20px;
    height: 400px;
    box-shadow: 5px 5px 5px #e3e4e6;
}
/*classi*/
.align {
    text-align: center;
}

.text-align {
    text-align: left;
}
.topbar {
    background-color: #f56600;
}
.topbar a {
    text-align: center;
    color: white;
    text-decoration: none;
}

.dimension {
    height: auto;
    width: auto;
    text-align: center;
    margin: 1.5rem;
    padding: 0.5rem;
    color: white;
}

.background1 {
    background-image: url(../images/bg-image.png);
    height: 150px;
}

.dimension_div {
    text-align: center;
    margin: 1.5rem;
    padding: 0.5rem;
    color: white;
}

.dimension_div h1 {
    padding: 1rem;
}

.image {
    width: 25%;
    border-radius: 2px;
    margin: 1rem;
}

.flex {
    display: flex;
    background-color: white;
    padding: 1.5rem;
}

.img {
    background-image: url(../images/img_9.png);
    height: 400px;
    background-position: center;
}

.img2 {
    background-image: url(../images/img_10.png);
    height: 400px;
    background-position: center;
}

.imgfooter {
    text-align: center;
}

.backtop {
    background-color: #364759;
    padding: 1rem;
    text-align: center;
}

.margin {
    margin: 2rem;
}

.find {
    background-color: white;
    padding: 1rem;
    margin: 1.5rem;
}

/*footer*/

footer {
    background-color: #222f3f;
    height: 200px;
}

footer div a {
    color: white;
 }

 footer img {
    width: 200px;
    padding: 2rem;
 }